.section-one {  
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-repeat: no-repeat;                                                                                                     
    background-position: center;                                                                                                             
    background-size: cover;
    // Mobile screen
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url("../img3/img_section1/Header imgsection1_sm@1x.jpg");
    // retina mobile screen
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url("../img3/img_section1/Header imgsection1_sm@2x.jpg");
    }
    
        @media screen and (min-width: 768px) {
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            background-color: #2F303A;

            // Tablet screen
            background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url("../img3/img_section1/Header imgsection1_md@1x.jpg");
            // retina mobile screen
            @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url("../img3/img_section1/Header imgsection1_md@2x.jpg");
        }
            

        @media screen and (min-width: 1200px) {
            padding-top: 200px;
            padding-bottom: 200px;
            height: 600px;
            margin-left: auto;
            margin-right: auto;
            background-color: #2F303A;

            // Desktop screen
            background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url("../img3/img_section1/Imgsection1_lr@1x.jpg");
            // retina mobile screen
            @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url("../img3/img_section1/Imgsection1_lr@2x.jpg");
        }
    }
}

.section-one_heading{
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 30px;
    // width: 696px;
    // color: var(--white-color);
    // font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    // text-align: center;
    // letter-spacing: 0.06em;
    // text-transform: uppercase;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;     
    
    @media screen and (min-width: 480px){
        width: 360px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 696px;
        color: var(--white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
    }
}
.menu-icon{
    fill: #212121;
    &:hover{
        fill: var(--secondary-color);
    }
}
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 10px 32px;
    color: var(--white-color);
    background-color: var(--secondary-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.06em;
    border-style: none;
    border-radius: 4px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

}