img {
    display: block;
    max-width: 100%;
    height: auto;
  }
body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--primary-color);
    background-color: var(--white-color);
    letter-spacing: 0.03em;
}